opencv-python-headless
timm
git+https://github.com/huggingface/transformers.git@e94a4807df45ec2967bb7f88c3d008f40fc9d550
git+https://github.com/Mahmoodlab/CONCH.git
git+https://github.com/Mahmoodlab/UNI.git
openslide-bin
openslide-python
accelerate 
bitsandbytes>0.37.0
datasets
pyserini
vllm
pubchempy
faiss-gpu-cu12
imblearn
qwen_vl_utils